.conteudo {
    max-width: 450px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
}

.conteudo img {
    width: 100%;
}

.lista-tarefas {
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    overflow: hidden;
}

.tarefa {
    color: #303f4e;
    padding: 22px;
    display: flex;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    background-color: #f3f3f3;
}

.tarefa:hover {
    color: #21c0a8;
}

.tarefa:not(:last-child) {
    border-bottom: 1px solid #e7e7e7;
}

.tarefa ion-icon {
    flex-shrink: 0;
    font-size: 40px;
    margin-right: 16px;
}

.tarefa:hover ion-icon {
    color: #21c0a8;
}

.tarefa.finalizada {
    color: #aaaaaa;
    text-decoration: line-through;
}

.tarefa.finalizada ion-icon {
    color: #78dbad
}

.adicionar-tarefa {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

input {
    width: calc(100% - 10px);
    padding: 20px;
    border: none;
    background-color: #f3f3f3;
    color: #555;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    font-size: 18px;
}

input::placeholder {
    color: #aaa;
}

.botao-adicionar {
    background-color: #21c0a8;
    border: none;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    color: white;
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: all ease 0.15s;
}

.botao-adicionar:hover {
    background-color: #56daaf;
}