.tarefa {
    color: #303f4e;
    padding: 22px;
    display: flex;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    background-color: #f3f3f3;
}

.tarefa:hover {
    color: #21c0a8;
}

.tarefa:not(:last-child) {
    border-bottom: 1px solid #e7e7e7;
}

.tarefa ion-icon {
    flex-shrink: 0;
    font-size: 40px;
    margin-right: 16px;
}

.tarefa:hover ion-icon {
    color: #21c0a8;
}

.tarefa.finalizada {
    color: #aaaaaa;
    text-decoration: line-through;
}

.tarefa.finalizada ion-icon {
    color: #78dbad
}